<ion-view view-title="Ajuda">
<ion-nav-bar class="bar-royal">
<ion-nav-back-button></ion-nav-back-button>
</ion-nav-bar>
<ion-content>
	<center>
		<img src="img/logo.jpeg" id="logotipo" alt="" width="150" style="margin-top: 50px;">

		<br><br>
		<p style="color: #909090; font-size: 15px;">© 2017 - Todos os direitos reservados </p>
		<br>
		<p>
			<b>DESENVOLVIMENTO</b> <br>

			<p>Lucas Moraes</p>
			<a href="">https://github.com/LuquinhasMoraes/</a>
			

		</p>



		
	</center>
</ion-content>
</ion-view>