<ion-modal-view>
	<ion-header-bar class="bar-royal">
	  <h1 class="title">Cadastro de Clientes</h1>
	</ion-header-bar>
	<ion-content>

	  <div class="row">
	  	<div class="col col-50">
	  		<div class="list">
			  
			  <label class="item item-input">
			    <span class="input-label">Usuário:</span>
			    <input type="text" ng-model="clientes.login">
			  </label>
			</div>
	  	</div>
	  	<div class="col col-50">
	  		<div class="list">
			  
			  <label class="item item-input">
			    <span class="input-label">Senha:</span>
			    <input type="password" ng-model="clientes.senha">
			  </label>
			</div>
	  	</div>
	  </div>

	  <div class="row">
	  	
	  	<div class="col">
	  		
			<div class="list">
			  
			  <label class="item item-input">
			    <span class="input-label">Nome:</span>
			    <input type="text" ng-model="clientes.nome">
			  </label>
			  
			  <label class="item item-input">
			    <span class="input-label">CPF:</span>
			    <input type="text" ng-model="clientes.cpf">
			  </label>

			  <label class="item item-input item-select">
			    <span class="input-label">Gênero: </span>
			    <select ng-model="clientes.genero">
				  <option selected value="m">Masculino</option>
				  <option value="f">Feminino</option>
				</select>
			  </label>

			  <label class="item item-input">
			    <span class="input-label">E-mail:</span>
			    <input type="email" ng-model="clientes.email">
			  </label>

			</div>

	  	</div>

	  </div>

	  <div class="row">
	  	<div class="col col-50">
	  		<div class="list">
			  
			  <label class="item item-input">
			    <span class="input-label">Fone:</span>
			    <input type="text" ng-model="clientes.tel">
			  </label>
			</div>
	  	</div>
	  	<div class="col col-50">
	  		<div class="list">
			  
			  <label class="item item-input">
			    <span class="input-label">Nasc:</span>
			    <input type="text" class="date" ng-model="clientes.nasc">
			  </label>
			</div>
	  	</div>
	  </div>

	  <div class="row">
	  	<div class="col col-50">
	  		<div class="list">
			  
			  <label class="item item-input">
			    <span class="input-label">Altura:</span>
			    <input type="text" ng-model="clientes.altura">
			  </label>
			</div>
	  	</div>
	  	<div class="col col-50">
	  		<div class="list">
			  
			  <label class="item item-input item-select">
			    <span class="input-label">Diabetes: </span>
			    <select ng-model="clientes.diabetes">
				  <option selected>Não</option>
				  <option >Sim</option>
				</select>
			  </label>

			</div>
	  	</div>
	  </div>

	  <div class="row">
	  	<div class="col col-50">
	  		<div class="list">
			  
			  <label class="item item-input">
			    <span class="input-label">Peso:</span>
			    <input type="text" ng-model="clientes.peso">
			  </label>
			</div>
	  	</div>
	  	<div class="col col-50">
	  		<div class="list">
			  
			  <label class="item item-input item-select">
			    <span class="input-label">Colesterol: </span>
			    <select ng-model="clientes.colesterol">
				  <option selected>Não</option>
				  <option >Sim</option>
				</select>
			  </label>

			</div>
	  	</div>
	  </div>

	  <div class="row">
	  	<div class="col col-50">
	  		<div class="list">
			  
			  <label class="item item-input">
			    <span class="input-label">Quadril:</span>
			    <input type="text" ng-model="clientes.quadril">
			  </label>
			</div>
	  	</div>
	  	<div class="col col-50">
	  		<div class="list">
			  
			  <label class="item item-input">
			    <span class="input-label">Busto: </span>
			    <input type="text" ng-model="clientes.busto">
			  </label>

			</div>
	  	</div>
	  </div>

	  <div class="row">
	  	
	  	<div class="col">
	  		<div class="list">
			  
			  <label class="item item-input">
			    <span class="input-label">Cintura:</span>
			    <input type="text" ng-model="clientes.cintura">
			  </label>
			</div>

			<button class="button button-full button-balanced" ng-click="salvarCliente()">
			  Salvar
			</button>

			<button class="button button-full button-stable" ng-click="closeModal()">
			  Cancelar
			</button>

	  	</div>
	
	  </div>

	</ion-content>
</ion-modal-view>